header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

header img {
  height: 30px;
}

@media screen and (min-width: 600px) {
  header {
    padding: 15px 6rem;
  }
}
